<%- include('components/header')%>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-offset-2 text-center cus-404-center">
            <h2>错误：找不到对象</h2>
            <h1>Error: 404 Not Found</h1>
        </div>
    </div>
</div>
<%- include('components/footer')%>