<%- include('components/header')%>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-offset-2 text-center cus-404-center">
            <h1>添加展示页面</h1>
        </div>
    </div>
</div>
<%- include('components/footer')%>